section{
  width: 100%;
  .section__itm{
    width: 100%;
    display: flex;
    .box__bir{
      width: 200px;
      padding-top: 50px;
      // border: solid 1px;
      img{
        align-items: center;
        border-radius: 45px;
        margin-left:25px;
      }
      h3{
        padding: 15 auto;
        align-items: center;
        margin-left: 25px;
        margin-bottom: 15px;
      }
      .btn{
        margin-top: 15px;
        min-width: 130px;
        border: 1px solid rgb(202,4,4);
        background-color: red;
        color:white;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px; 
      }
      .btm{
        margin-top: 15px;
        min-width: 130px;
        border: 1px solid rgb(202,4,4);
        background-color: white;
        color:rgb(108, 82, 224);
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
        
      }
      .box__uch{
        display: flex;
        margin-top: 25px;
        h4{
          font-size: 20px;
          font-weight: 900px;
          text-align: center;
        }   
        .box__ikki{
          margin-right: 25px;
        }
      }
      .box__besh{
        margin-top: 25px;
        p{
          margin-bottom: 15px;
          
        }
      }
      .list__ikki{
        margin-top: 45px;
      }
      
    }
    .box__first{
      width: 800px;
      padding-top: 50px;
      // border: solid 1px;
      .list__img{
        width: 100%;
        display: flex;
        .box__olti{
          // border: solid 1px;
          width: 200px;
          margin-left: 38px;
        }
      }
      .post{
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 38px;
      }
    }
    .box__sekond{
      width: 100%;
      // border: solid 1px;
      margin-left: 20px;
      padding-top: 70px;
      .box__yetti{
        width: 140px;
        display: flex;
        align-items: center;
        margin-left: 20px;
        padding-top: 25px;
        .rasm{
         border-radius: 50px;
        }
        .information{
          font-size: 15px;
          font-weight: 900;
       }
      }
      .block{
        padding-top: 30px;
      }
      .rasm__ikki{
        padding-left: 30px;
        }
        .box__on{
          width: 100%;
      }
      .rasm__ikki{
        width: 100%;
        .rasm__ikki1{
          border-radius: 50px;
        }

      }
      .block{
        margin-left: 25px;
      }

    }
  }
}